.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black ;
}


.logo{
    width: 100px
}

.nav-bar > ul  {
    display: flex;
    font-size: 24px;
    list-style: none;
}

.nav-bar > ul > li {
    padding : 20px;
}

.res-card{
    width : 210px ;
    height : 580px;
    background-color:rgb(212, 199, 174) ;
    padding: 5px;
    margin: 5px ;
    color :black ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* text-decoration: none; */
}

.res-card a {
    text-decoration: none;
    color: inherit;
}

.res-card:hover{
    border: 1px solid black;
    /* width: 205px; */
    /* height: 305px ; */
    cursor: pointer;
    background-color:rgb(110, 110, 108);

}
.res-card > p {
    font-size: 17px;
    margin-left: 2px;
    /* padding: 4px; */
}
.res-card > h5{
    background-color: rgb(26, 187, 11);
    display: inline-block;
    border-radius: 3px;
    padding: 0px 4px;
    color: white;
    margin : 0 2px ;
    
}
.res-container{
    display: flex; 
    flex-wrap: wrap;
    padding: 10px;
}
.search {
    padding: 10px;
}
.search-bar{
    padding: 15px;
    font-size: 15px;
}
.search-btn {
    font-size: 15px;
    padding: 15px;
    margin-left: 10px;
}
.res-logo{
    margin-top: 10px;
    width: 190px  ;
    padding: 5px;
}

.search-container{
    display: flex ;
}

.filter{
    padding: 20px;
}
.filter-btn{
    cursor: pointer;

}

.shimmer-container{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 400px; 
    background-color: #f0f0f0;
    margin: 20px;
}
.login{
    padding: 0 20px;
    margin-right: 20px ;
    border : 2px solid black ;
    border-radius: 9px;
    font-size: 20px; 
}

.error{
    padding : 50px 50px ;
    margin: 70px 70px;

    color:red ;
}

.error > h3 {
    color:green ;
    
}

.user-card {
    padding: 20px;
    border: 1px solid black;
}

.abt-btn{
    padding: 10px;
    margin : 20px;
    border-radius: 10px;
    background-color: burlywood;
}

.off-div{
    margin-top: 50px;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(88, 214, 88);
}

